@page
@model BJC.Pages.AboutModel
@{
}





	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="~/education-master/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Education</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="~/education-master/css/linearicons.css">
			<link rel="stylesheet" href="~/education-master/css/font-awesome.min.css">
			<link rel="stylesheet" href="~/education-master/css/bootstrap.css">
			<link rel="stylesheet" href="~/education-master/css/magnific-popup.css">
			<link rel="stylesheet" href="~/education-master/css/nice-select.css">							
			<link rel="stylesheet" href="~/education-master/css/animate.min.css">
			<link rel="stylesheet" href="~/education-master/css/owl.carousel.css">			
			<link rel="stylesheet" href="~/education-master/css/jquery-ui.css">			
			<link rel="stylesheet" href="~/education-master/css/main.css">



			<style>
			.container{

				max-width:100% !important;
			}

			</style>

		</head>
		<body style="background-color: #04091e;">	
			  <header id="header" id="home">
	  		
		    <div class="container main-menu" style="background-color: #04091e;max-width: 100% !important;">
		    	<div class="align-items-center justify-content-between d-flex">
					<a href="/Index"><img src="~/education-master/img/logo.jpg" alt="" title="" style="width: 40px; /></a>
			      <div id="logo">
			        
			      
			      <nav id="nav-menu-container">
			        <ul class="nav-menu">
			          <li><a href="/Index">Home</a></li>
			          <li><a href="/About">About</a></li>
			          <li><a href="/courses">Courses</a></li>
			          <li><a href="/Contact">Contact</a></li>
			        </ul>
			      </nav><!-- #nav-menu-container -->	
				  </div>
		    	</div>
		    </div>
		  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About US		
							</h1>	
							
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

				<!-- Introduction --> 
			<section class="popular-courses-area section-gap courses-page" style="margin: 100px;background-color: white;">
				<div class="container">
					<div class="row">					
									<main class="page-content post-content post-full-width" id="content">
										<h2>Our Purpose</h2>
				<p>Our work focuses on helping K-12 schools become future-oriented organizations that build upon their traditional strengths to better serve the students of today and tomorrow.</p>
<p>As part of the <a href="https://www.auburn.edu/" target="_blank" rel="noopener noreferrer">College of Education</a>, we <a href="http://www.auburn.edu/" target="_blank" rel="noopener noreferrer">Think and Do</a> by inviting and challenging others to innovate with us. Informed by cutting-edge research and in collaboration with partners in education, government and private industries, we empower educators and their students to be forward-thinking learners and leaders. In this manner, we contribute to the social and economic well being of Alabama and help our schools meet the challenges of preparing students for the global workforce.</p>
<p>Our work is consistent with both the research and land-grant outreach mission of Auburn University and its College of Education. We are located in the city of <a href="http://auburn.edu/" target="_blank" rel="noopener noreferrer">Auburn in Lee County</a>, where university, corporate and government organizations partner with faculty and students in a highly innovative environment.</p>
<h2>Our Vision</h2>
<p>All learners are prepared to succeed in a rapidly changing world.</p>
<h2>Our Mission</h2>
<p>Advancing K-12 education through innovation in teaching, learning and leadership, we bring together students, teachers, researchers, policymakers and educational professionals to foster collaborations that improve education for all learners.</p>
<h2>How We Think and Do</h2>
<p>In our work we connect thought and action. We think creatively and act thoughtfully to improve educational outcomes for all learners. Much of our work results in tangible and impactful products, services, and applications. We <b>educate</b> in order to empower policy makers, educators and learners. We <b>innovate</b> to transform ideas into actions. We <b>inspire</b> and motivate others to promote systemic change.</p>
<p>We <i>think and do</i> in order to:</p>
<p><b>EDUCATE</b> by conducting professional learning, research and evaluation.<br>
<b>INNOVATE</b> by designing supports, tools and structures for educational change.<br>
<b>INSPIRE</b> by convening and catalyzing stakeholders to inform standards, policy and practice.</p>
<h2>Our Impact</h2>
<p>Our work is shaped by a <a href="https://www.auburn.edu/" target="_blank" rel="noopener noreferrer">theory of change</a>. This framework is how we gauge milestones of progress in three significant areas of impact:</p>
<ul>
<li><a href="https://www.auburn.edu/">Cultivating equity in education through equity-mindedness</a></li>
<li><a href="https://www.auburn.edu/">Amplifying teaching and learning through technology</a></li>
<li><a href="https://www.auburn.edu/">Creating capacity for innovation across education systems</a></li>
</ul>
<p>To learn more about how our work is organized, see our list of <a href="https://www.auburn.edu/" target="_blank" rel="noopener noreferrer">projects</a> or our list of organizational <a href="https://www.auburn.edu/" target="_blank" rel="noopener noreferrer">teams</a>.</p>
<h2>Our Culture</h2>
<p>We are self-starters who are mission driven with a passion for purposeful educational innovation and cultivating equity-mindedness for systemic change. We value collaboration and celebrate doing good work that supports educators and students. No idea is too big, too small, or too complex — we’ll take it on. We take our work seriously, placing people and ideas at the center of everything we do.</p>
<h2>Our Partnership with Centennial Campus Magnet Middle School</h2>
<p>Over 20 years ago, the initial vision for Centennial Campus Magnet Middle School (CCMMS) emerged from an idea to bring Triangle school systems closer together. A school in AU campus connected to a research institute offered a way to connect middle school students to professors and college students and deliver innovative teaching and learning strategies into the Lee County Public School System.</p>
<p><a href="https://www.auburn.edu/" target="_blank" rel="noopener noreferrer">Learn more <span class="nav-arrow right-arrow " aria-hidden="true"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32" style="fill: #cc0000" ;=""><path d="M16.438 9.563l-0.625 0.625 5.563 5.563h-13.375v0.875h13.375l-5.563 5.563 0.625 0.625 6.625-6.625z"></path></svg></span></a></p>

			</main>	
					</div>
				</div>	
			</section>
			<!-- End popular-courses Area -->			



			<!-- start footer Area -->		
			<footer class="footer-area section-gap" style="padding: 10px;margin: 30px;font-size: 10px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-6 col-sm-6" style=" text-align: right;">
							<div class="single-footer-widget">
									<img src="~/education-master/img/logo.jpg" style="width:80px;"	/>						
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6" style="text-align: left;">
							<div class="single-footer-widget">

									<img src="~/education-master/img/AuLogo.jpg"	style="width:140px;"/>	
							</div>
						</div>
						<div class="col-lg-8 col-md-6 col-sm-6">
							<div class="single-footer-widget">
									<p style="color:white;">The Beauty and Joy of Computing by University of California, Berkeley and Education Development Center, Inc. is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. The development of this site has been funded by the National Science Foundation under grant nos. 1138596, 1441075, and 1837280; the U.S. Department of Education under grant number S411C200074; and the Hopper-Dean Foundation. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation or our other funders.</p>						
							</div>
						</div>
				@*<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">

					</div>
					</div>	*@																	
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	




		</body>
	</html>