@page
@model BJC.Pages.CoursesModel
@{
}



	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="~/education-master/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Education</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="~/education-master/css/linearicons.css">
			<link rel="stylesheet" href="~/education-master/css/font-awesome.min.css">
			<link rel="stylesheet" href="~/education-master/css/bootstrap.css">
			<link rel="stylesheet" href="~/education-master/css/magnific-popup.css">
			<link rel="stylesheet" href="~/education-master/css/nice-select.css">							
			<link rel="stylesheet" href="~/education-master/css/animate.min.css">
			<link rel="stylesheet" href="~/education-master/css/owl.carousel.css">			
			<link rel="stylesheet" href="~/education-master/css/jquery-ui.css">			
			<link rel="stylesheet" href="~/education-master/css/main.css">




			<style>
			.container{

				max-width:100% !important;
			}

			</style>

		</head>
		<body style="background-color: #04091e;">	
		  <header id="header" id="home">

			<div class="container main-menu" style="background-color: #04091e;max-width: 100% !important;">
				<div class="align-items-center justify-content-between d-flex">
					<a href="/Index"><img src="~/education-master/img/logo.jpg" alt="" title="" style="width: 40px; /></a>
			      <div id="logo">


				  <nav id="nav-menu-container">
			        <ul class="nav-menu">
			          <li><a href="/Index">Home</a></li>
			          <li><a href="/About">About</a></li>
			          <li><a href="/courses">Courses</a></li>
			          <li><a href="/Contact">Contact</a></li>
			        </ul>
			      </nav><!-- #nav-menu-container -->
				  </div>
				</div>
			</div>
		  </header><!-- #header -->

				<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Popular Courses		
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

				<!-- Start popular-courses Area --> 
			<section class="popular-courses-area section-gap courses-page" style="margin: 100px;background-color: white;">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Popular Courses we offer</h1>
								<p>There is a moment in the life of any aspiring.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="single-popular-carusel col-lg-3 col-md-6">
							<div class="thumb-wrap relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>	
									<img class="img-fluid" src="~/education-master/img/p1.jpg" alt="">
								</div>
								<div class="meta d-flex justify-content-between">
									<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
									<h4></h4>
								</div>									
							</div>
							<div class="details">
								<a href="/JavaCourseDetail">
									<h4>
										Java
									</h4>
								</a>
								<p>
									Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.
								</p>
							</div>
						</div>	
						<div class="single-popular-carusel col-lg-3 col-md-6">
							<div class="thumb-wrap relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>	
									<img class="img-fluid" src="~/education-master/img/p2.jpg" alt="">
								</div>
								<div class="meta d-flex justify-content-between">
									<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
									<h4></h4>
								</div>									
							</div>
							<div class="details">
								<a href="/PHPCourseDetail">
									<h4>
										PHP
									</h4>
								</a>
								<p>
									PHP is a general-purpose scripting language geared toward web development.
							   </p>
							</div>
						</div>	
						<div class="single-popular-carusel col-lg-3 col-md-6">
							<div class="thumb-wrap relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>	
									<img class="img-fluid" src="~/education-master/img/p3.jpg" alt="">
								</div>
								<div class="meta d-flex justify-content-between">
									<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
									<h4></h4>
								</div>									
							</div>
							<div class="details">
								<a href="/PythonCourseDetail">
									<h4>
									  Python
									</h4>
								</a>
								<p>
									Python is a high-level, general-purpose programming language.
								</p>
							</div>
						</div>	
						<div class="single-popular-carusel col-lg-3 col-md-6">
							<div class="thumb-wrap relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>	
									<img class="img-fluid" src="~/education-master/img/p4.jpg" alt="">
								</div>
								<div class="meta d-flex justify-content-between">
									<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
									<h4></h4>
								</div>									
							</div>
							<div class="details">
								<a href="/CCourseDetail">
									<h4>
										C
									</h4>
								</a>
								<p>
									C is a general-purpose computer programming language.
								</p>
							</div>
						</div>
						<div class="single-popular-carusel col-lg-3 col-md-6">
							<div class="thumb-wrap relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>	
									<img class="img-fluid" src="~/education-master/img/p1.jpg" alt="">
								</div>
								<div class="meta d-flex justify-content-between">
									<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
									<h4></h4>
								</div>									
							</div>
							<div class="details">
								<a href="/CSharpCourseDeatail">
									<h4>
										C#
									</h4>
								</a>
								<p>
									C# is a general-purpose, high-level multi-paradigm programming language. C# encompasses static typing, strong typing, lexically scoped, imperative, declarative, functional, generic, object-oriented, and component-oriented programming disciplines.
								</p>
							</div>
						</div>	
						<div class="single-popular-carusel col-lg-3 col-md-6">
							<div class="thumb-wrap relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>	
									<img class="img-fluid" src="~/education-master/img/p2.jpg" alt="">
								</div>
								<div class="meta d-flex justify-content-between">
									<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
									<h4></h4>
								</div>									
							</div>
							<div class="details">
								<a href="/CPlusPlusCourseDetail">
									<h4>
										C++
									</h4>
								</a>
								<p>
									C++ is a high-level general-purpose programming language created by Danish computer scientist Bjarne Stroustrup as an extension of the C programming language, or "C with Classes".
								</p>
							</div>
						</div>	
						<div class="single-popular-carusel col-lg-3 col-md-6">
							<div class="thumb-wrap relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>	
									<img class="img-fluid" src="~/education-master/img/p3.jpg" alt="">
								</div>
								<div class="meta d-flex justify-content-between">
									<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
									<h4></h4>
								</div>									
							</div>
							<div class="details">
								<a href="/ReactJSCourseDetail">
									<h4>
										React JS
									</h4>
								</a>
								<p>
									It is a declarative, efficient and flexible frontend javascript library. It is used for designing user-interface specifically for Single Page Applications.
								</p>
							</div>
						</div>	
						<div class="single-popular-carusel col-lg-3 col-md-6">
							<div class="thumb-wrap relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>	
									<img class="img-fluid" src="~/education-master/img/p4.jpg" alt="">
								</div>
								<div class="meta d-flex justify-content-between">
									<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
									<h4></h4>
								</div>									
							</div>
							<div class="details">
								<a href="/JavaScriptCourseDetail">
									<h4>
										Java Script
									</h4>
								</a>
								<p>
									JavaScript, often abbreviated as JS, is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS.
								</p>
							</div>
						</div>								
										
					</div>
				</div>	
			</section>
			<!-- End popular-courses Area -->			



			<!-- start footer Area -->		
			<footer class="footer-area section-gap" style="padding: 10px;margin: 30px;font-size: 10px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-6 col-sm-6" style=" text-align: right;">
							<div class="single-footer-widget">
									<img src="~/education-master/img/logo.jpg" style="width:80px;"	/>						
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6" style="text-align: left;">
							<div class="single-footer-widget">

									<img src="~/education-master/img/AuLogo.jpg"	style="width:140px;"/>	
							</div>
						</div>
						<div class="col-lg-8 col-md-6 col-sm-6">
							<div class="single-footer-widget">
									<p style="color:white;">The Beauty and Joy of Computing by University of California, Berkeley and Education Development Center, Inc. is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. The development of this site has been funded by the National Science Foundation under grant nos. 1138596, 1441075, and 1837280; the U.S. Department of Education under grant number S411C200074; and the Hopper-Dean Foundation. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation or our other funders.</p>						
							</div>
						</div>
				@*<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">

					</div>
					</div>	*@																	
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	


			<script src="~/education-master/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="~/education-master/js/vendor/bootstrap.min.js"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
			  <script src="~/education-master/js/easing.min.js"></script>			
			<script src="~/education-master/js/hoverIntent.js"></script>
			<script src="~/education-master/js/superfish.min.js"></script>	
			<script src="~/education-master/js/jquery.ajaxchimp.min.js"></script>
			<script src="~/education-master/js/jquery.magnific-popup.min.js"></script>	
			<script src="~/education-master/js/jquery.tabs.min.js"></script>						
			<script src="~/education-master/js/jquery.nice-select.min.js"></script>	
			<script src="~/education-master/js/owl.carousel.min.js"></script>									
			<script src="~/education-master/js/mail-script.js"></script>	
			<script src="~/education-master/js/main.js"></script>	
		</body>
	</html>